*{
    color: rgb(10, 27, 42);
}
.background{
    background-image:url('./images/river.jpg');
    width: 100%;
    height: 100vh;
    color: beige;
    background-position: center;
    background-size:cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}
h1{
    color: white;
    background-color: none;
    border: 3px solid lightskyblue;
}
p{
    text-align: justify;
    color:yellow;
    font-size: large;
}
span{
    color: white;
    font-size: medium;
    text-decoration-line: underline;
}
